:root {
	--nav-width: 20%;
	--header-width: 80%;
	--header-height: 80px;
}

html {
	font-size: 50%;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Source Sans Pro", sans-serif!important;
}

body h1 {
	font-weight: 700;
}

#nav {
	z-index: 5;
	width: 70px;
	position: fixed;
	height: 100%;
	background: black;
	color: white;
	overflow-x: hidden;
	transition: all 0.5s ease;
}

#nav #margin {
	float: left;
	width: 70px;
	overflow: hidden;
}

#nav #margin #button {
	margin: 23px 22px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
	transition: all 0.5s ease;
}

#nav #margin #button #line1, #line2, #line3 {
	width: 25px;
	height: 4px;
	background-color: white;
	margin: 4px 0;
	transition: 0.4s;
	border-radius: 5px;
	transition: all 0.5s ease;
}

#nav #margin #button.visible #line1 {
	transform: translate(0px, 8px) rotate(45deg);
	-webkit-transform: translate(0px, 8px) rotate(45deg);
}

#nav #margin #button.visible #line2 {
	background-color: black;
}

#nav #margin #button.visible #line3 {
	transform: translate(0px, -8px) rotate(-45deg);
	-webkit-transform: translate(0px, -8px) rotate(-45deg);
}

#nav #margin i:first-of-type {
	margin-top: 8px;
}

#nav #margin i {
	text-align: center;
	width: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	position: relative;
	transition: all 0.5s ease;
	position: relative;
}

#nav nav {
	margin-left: 70px;
}

#nav nav h1 {
	font-size: 25px;
	text-align: center;
	height: 40px;
	vertical-align: middle;
	margin-bottom: 21px;
}

#nav nav ul {
	list-style-type: none;
	padding-left: 0;
}

#nav nav ul button {
	width: 100%;
	text-align: left;
	height: 70px;
	background-color: black;
	border: 0px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	transition: all 0.5s ease;
}

#nav .active {
	background-color: #1c2a42;
}

#nav.visible {
	width: var(--nav-width);
}

header {
	z-index: 4;
	padding-left: 70px;
	position: fixed;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid;
	height: var(--header-height);
	background-color: white;
	transition: all 0.5s ease;
}

header h1 {
	text-align: left;
	padding-left: 30px;
	font-size: 3.5rem;
}

header.visible {
	padding-left: var(--nav-width);
	width: 100%;
}

header section {
	position: relative;
	width: 70px;
	float: right;
	margin: 5px 20px 5px 10px;
}

header section img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 50%;
}

header section div {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #93bcff;
	border-radius: 50%;
	cursor: pointer;
}

header section:hover div {
	opacity: 0.5;
}

header section div p {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	padding-top: 40%;
}

body > section {
	padding-left: 70px;
	padding-top: calc(20px + var(--header-height));
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.5s ease;
}

body > section.visible {
	padding-left: var(--nav-width);
}

section.timeline {
	min-height: 100vh;
    color: #383838;
    background-color: #f8f8f8;
}

section.timeline a {
	color: #3b5a8e;
  	text-decoration: none;
}