:root {
	--nav-width: 20%;
	--header-width: 80%;
	--header-height: 80px;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
}

#nav {
	width: 70px;
	position: fixed;
	height: 100%;
	background: black;
	color: white;
	overflow-x: hidden;
	transition: all 0.5s ease;
}

#nav #margin {
	float: left;
	width: 70px;
	overflow: hidden;
}

#nav #margin #button {
	margin: 23px 22px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
	transition: all 0.5s ease;
}

#nav #margin #button #line1, #line2, #line3 {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#nav #margin #button.visible #line1 {
	transform: translate(0px, 8px) rotate(45deg);
	-webkit-transform: translate(0px, 8px) rotate(45deg);
}

#nav #margin #button.visible #line2 {
	background-color: black;
}

#nav #margin #button.visible #line3 {
	transform: translate(0px, -8px) rotate(-45deg);
	-webkit-transform: translate(0px, -8px) rotate(-45deg);
}

#nav #margin i:first-of-type {
	margin-top: 8.5px;
}

#nav #margin i {
	text-align: center;
	width: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	position: relative;
	transition: all 0.5s ease;
	position: relative;
}

#nav nav {
	margin-left: 70px;
}

#nav nav h1 {
	font-size: 25px;
	text-align: center;
	height: 40px;
	vertical-align: middle;
}

#nav nav ul {
	list-style-type: none;
	padding-left: 0;
}

#nav nav ul button {
	width: 100%;
	text-align: left;
	height: 70px;
	background-color: black;
	border: 0px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	transition: all 0.5s ease;
}

#nav .active {
	background-color: #1c2a42;
}

#nav.visible {
	width: var(--nav-width);
}

header {
	padding-left: 70px;
	position: fixed;
	width: calc(100% - 70px);
	text-align: center;
	border-bottom: 1px solid;
	height: var(--header-height);
	background-color: white;
	transition: all 0.5s ease;
}

header.visible {
	padding-left: var(--nav-width);
	width: var(--header-width);
}

section {
	padding-left: 70px;
	padding-top: calc(20px + var(--header-height));
	transition: all 0.5s ease;
}

section.visible {
	padding-left: var(--nav-width));
}